<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	</head>
</head>
<body>
	<div id="nav-bar">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">FindFolks</a>
				</div>
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#" id="loginLink">Login</a></li>

				</ul>
			</div>
		</nav>
	</div>
	<script type="text/javascript">
		$('#loginLink').click(function(){
			$('#loginField').show();
		});

	</script>


	<div>
		<div id="showUpcomingEvents">
			<h3 align="center">Welcome to FindFolks! These are some of the awesome events you can attend within the next three days!</h3>
			<table class="table table-bordered" style="width: auto; margin-left: auto; margin-right: auto">
				<th>Event Title</th>
				<th>Event ID</th>
				<th>Start Time</th>
				<th>Location</th>
				<th>Zip Code</th>
				<th>Description</th>
				{% for event in eventTable %}
				<tr>
					<td>{{event.title}}</td>
					<td>{{event.event_id}}</td>
					<td>{{event.start_time}}</td>
					<td>{{event.location_name}}</td>
					<td>{{event.zipcode}}</td>
					<td>{{event.description}}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>

	<div >
		<h3 align="center">Find groups that match your interests!</h3>
		{% if groupInterestTable is defined%}
		<table class="table table-bordered" style="width: auto; margin-left: auto; margin-right: auto">
				<th>Interest</th>
				<th>Group Name</th>
				<th>Group ID</th>
				{% for event in groupInterestTable %}
				<tr>
					<td>{{event.category}}</td>
					<td>{{event.group_name}}</td>
					<td>{{event.group_id}}</td>
				</tr>
				{% endfor %}
			</table>
		{% else %}
		<div class="alert alert-danger" style="text-align: center;">
				<p class="error"><strong>Error:</strong> {{groupInterestTableError}}</p>
		</div>
		{% endif %}

	</div>



	<form action="/loginAuth" method="POST">
		<div class="well center-block" style="display: none; width: 40%" id="loginField">
			{% if error %}
			<div class="alert alert-danger" style="text-align: center;">
				<p class="error"><strong>Error:</strong> {{error}}</p>
			</div>
			{% endif %}
			<h3 align="center">Login</h3>
			<div>
				<input class ="form-control" style="width: auto; margin-left: auto; margin-right: auto" type="text" name = "username" placeholder="username" required/> </br>
				<input class = "form-control" style="width: auto; margin-left: auto; margin-right: auto" type="password" name = "password" placeholder="password" required/></br>
				<input class = "btn btn-primary center-block" type="submit" value = Login />
			</div>
		</div>
	</form>

	<div style="text-align: center;">
		<a href="/" >Go back</a>
	</div>

</body>


</html>
