<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<meta http-equiv="refresh" content="3;url=http://localhost:5001/" />
</head>
<body>
	<div>
		<div class="alert alert-success" role="alert">
			<h1 align="center">Thank you for using FindFolks :)! You will be redirected to the homepage soon.</h1>
		</div>
	</div>

</body>
</html>